{% extends "home.html" %}

{% block content %}
<h1 class="title mb-3">
  Bienvenido {{name}}! Aquí esta tu lista de tareas
</h1>

  <!-- Mostrar las tareas -->

    <ul>
      {% for task in tasks %}
          <li>            
                <div class="box mb-1">                
                  <div class="media-content">
                    <div class="content">   
                      <div>
                        {{ loop.index}} - {{task['task_description']}} / {% if task['task_status']  == False %}
                        <span>Not Complete</span>
                        {% else %}
                        <span>Completed</span>
                        {% endif %}
                        <div>
                          <a class="button is-info js-modal-trigger" data-target="modal-js-example-{{ task['task_id'] }}">Update</a>
                          <a class="button is-danger" href="{{url_for('tasks.delete_task', task_id=task['task_id'])}}">Delete</a>                                                 
                        </div> 
                      </div>                                                       
                    </div>                                                         
                  </div>
                </div>                             
          </li>
          <div id="modal-js-example-{{ task['task_id'] }}" class="modal">
            <div class="modal-background"></div>          
              <div class="modal-content">
                <div class="box">
                  <form action="{{url_for('tasks.update_task', task_id= task['task_id'])}}" method="post">
                    <div class="field">
                      <label class="label">Update Task Description</label>
                      <div class="control">
                        <input class="input" type="text" name="task_description" value="{{ task['task_description'] }}">
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">Update Task Status</label>
                      <div class="control">
                        <div class="select">
                          <select name="task_status">
                            <option value="False" {% if not task['task_status'] %}selected{% endif %}>Not Complete</option>
                            <option value="True" {% if task['task_status'] %}selected{% endif %}>Completed</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <button class="button is-link" type="submit">Update</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>           
              <button type="button" class="modal-close is-large" aria-label="close"></button>
            </div>
      {% endfor %}
    </ul>

<!-- Formulario para agregar una nueva tarea -->
<form action="{{url_for('tasks.create_task')}}"  method="post">
    <div class="fi mb-1 mt-4">
      <input class="input" type="text" name="task_description" placeholder="Nueva tarea">
    </div>
      <button class="button is-link" type="submit">Agregar Tarea</button>
</form>



<script>
  document.addEventListener('DOMContentLoaded', () => {
// Functions to open and close a modal
function openModal($el) {
$el.classList.add('is-active');
}

function closeModal($el) {
$el.classList.remove('is-active');
}

function closeAllModals() {
(document.querySelectorAll('.modal') || []).forEach(($modal) => {
closeModal($modal);
});
}

// Add a click event on buttons to open a specific modal
(document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
const modal = $trigger.dataset.target;
const $target = document.getElementById(modal);

$trigger.addEventListener('click', () => {
openModal($target);
});
});

// Add a click event on various child elements to close the parent modal
(document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
const $target = $close.closest('.modal');

$close.addEventListener('click', () => {
closeModal($target);
});
});

// Add a keyboard event to close all modals
document.addEventListener('keydown', (event) => {
if(event.key === "Escape") {
closeAllModals();
}
});
});
  
</script>
{% endblock %}